.team-page {
    table {
        thead td {
            color: #6b72fd;
            font-weight: 600;
            height: 50px;
        }
        td {
            text-align: center;
        }
    }
    .footer {
        margin-top: 4em;
        .section-buttons {
            justify-content: end;
        }
    }
}
