.active-projects {
    .table-data {
        width: 100%;

        table {
            width: 100%;

            thead tr th {
                padding: 20px 0;
            }

            tbody tr td {
                text-align: center;
                padding: 20px 0;
            }

            .menu-float {
                position: relative;

                .icon-points-menu {
                    cursor: pointer;
                }

                .menu-float-options {
                    background-color: #ffffff;
                    border-radius: 20px;
                    padding: 10px 20px;
                    display: none;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    width: 10em;

                    &-item {
                        padding: 10px 0;
                        cursor: pointer;
                        border-bottom: 1px solid #e3e6ea;
                    }

                    &-item:last-child {
                        border-bottom: none;
                    }
                }
            }
            .menu-float:hover {
                .menu-float-options {
                    display: block;
                }
            }
        }
    }
}
