.reviews {
    position: relative;

    .versions-content {
        margin-top: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 51%;

        .version {
            height: 211px;
        }

        .version-vote {
            justify-content: space-between;

            &-id {
                margin-top: 20px;
            }
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 83%;

        .buttons {
            justify-content: space-between;
        }
    }
}
