.modal-message {
  .modal-content {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 150px;
      gap: 10px;

      div {
        text-align: center;
        width: 100%;
      }
    }
  }

  .button-reactive {
    span.reactive-btn-wrapper.normal {
      height: 40px;
    }

    button {
      .content {
        color: #ffffff;

        svg {
          fill: #ffffff !important;
        }
      }
    }

    .reactive-btn .progress {
      background-color: #551af7;
    }

    .reactive-btn.button.primary {
      background-color: #6f3bff;
      box-shadow: none;
    }

    .reactive-btn.button.primary:hover {
      padding: 10px 30px;
      box-shadow: none;
    }
  }

  .text-purple {
    font-weight: 600;
    cursor: default;
    text-align: center;
    font-size: 18px;
  }

  &-buttons.is-justify {
    justify-content: space-between;
  }
  &-buttons.is-center {
    justify-content: center;
  }
}
