.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .input-add-option {
    display: none;
  }

  .add-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .info-drop {
    gap: 3em;
    position: relative;

    &-item {
      gap: 10px;
      img {
        cursor: pointer;
      }
    }
    .menu-float {
      position: absolute;
      top: 21px;
      background-color: #ffffff;
      border-radius: 7px;
      border: 1px solid #cbcbcb;
      z-index: 1;

      .text-purple {
        margin-bottom: 20px;
        cursor: default;
      }

      ul {
        margin-left: 15px;
      }
      .reviews-count {
        padding: 8px 8px;
        box-sizing: border-box;
      }

      p {
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 5px 8px 0 8px;
        box-sizing: border-box;
      }

      .option-reviews {
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 0 8px;
        box-sizing: border-box;
      }
      .option-reviews:hover {
        background-color: #f2f2f2cb;
      }
      .option-reviews:first-child:hover {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }
    }
  }

  .description {
    margin: 2em 0;
  }

  .versions-content {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .version {
      flex: 40%;
      margin-bottom: 20px;
      /*  position: relative; */

      &-id {
        margin-bottom: 5px;
      }

      .buttons-action {
        position: absolute;
        bottom: 10px;
        right: 10px;
        gap: 5px;

        .button-purple {
          padding: 5px 15px;
          font-size: 13px;
        }
      }
    }

    .add {
      justify-content: center;
      align-items: center;
      cursor: pointer;
      gap: 5px;
    }

    .lines {
      border: 1px dashed #cbcbcb;
      height: 211px;
      border-radius: 13px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;

      .button-blue {
        gap: 5px;
      }
    }

    .version,
    .lines {
      &-img {
        /* overflow: hidden;
        position: relative; */
        cursor: pointer;
        overflow: hidden;
        border-radius: 13px;

        img {
          width: 100%;
          height: 100%;
          /* transform: translate(0%, -15%); */
          object-fit: cover;
        }
      }
    }

    .img-1 {
      height: 548px;
    }

    .img-2 {
      height: 211px;
    }

    .img-select {
      border: 3px solid green;
      padding-bottom: 18px;
      box-sizing: border-box;
      background-color: green;
    }
    .img-select::after {
      content: "Seleccion del usuario";
      color: #ffffff;
      display: flex;
      justify-content: center;
      font-size: 11px;
    }

    .vote-main {
      padding: 3em;
      box-sizing: border-box;
      width: 49%;
    }

    .version-vote {
      justify-content: space-between;

      &-id {
        margin-top: 20px;
      }
    }
  }

  .footer {
    /* position: absolute;
    bottom: 0;
 */
    &-desc {
      margin-bottom: 20px;
    }
    .buttons {
      justify-content: space-between;
      align-items: flex-end;

      .buttons-approve {
        gap: 10px;
        width: 50%;
      }
    }

    .globe-text {
      background-color: #d8dbfa;
      padding: 20px;
      border-radius: 20px;
      margin-bottom: 10px;
    }

    .button-reactive {
      text-align: center;
    }
  }

  .button-reactive {
    .reactive-btn .progress {
      box-shadow: none;
    }

    .reactive-btn.button.primary {
      box-shadow: none;
    }
  }
}
