.step {
    justify-content: center;
    margin-bottom: 20px;
}

.columns {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;

    .column {
        flex: 1;
        width: 50%;

        .column-item {
            width: 100%;
        }
    }

    .input-txt {
        width: 100%;
        box-sizing: border-box;
        margin-top: 8px;
    }

    .input-texarea {
        width: 100%;
        margin-top: 8px;
    }

    label {
        margin-bottom: 10px;
    }
}
