.form-page {
  .subtitle {
    margin-bottom: 30px;
  }
  .content {
    margin-bottom: 50px;
  }

  .input-txt {
    flex: 1;
  }

  .button-blue {
    gap: 5px;
    margin: 15px 0;
  }

  .more {
    margin-top: 20px;
    gap: 20px;
    cursor: pointer;
  }

  .required {
    color: #b1afaf;
  }
}
