.private-notes {
  .modal-content {
    position: relative;

    .content-notes {
      margin-top: 6px;

      p {
        margin-bottom: 10px;
      }
      .input-texarea {
        width: 100%;
        height: auto;
        background-color: #f5f5f5;
        border: #f5f5f5;
      }
    }

    .section-buttons {
      position: absolute;
      bottom: 20px;
      justify-content: space-between;
      width: 90%;
    }
    .button-reactive {
      .reactive-btn .progress {
        box-shadow: none;
      }

      .reactive-btn.button.primary {
        box-shadow: none;
      }
    }
  }
}
