.brands-form-page {
  input.button {
    height: 45px;
    font-size: 16px;
    background-color: #f6faff;
    color: #6F3BFF;
  }
  input.button:hover {
    height: 45px;
    font-size: 16px;
    background-color: #6F3BFF;
    color: #ffffff;
  }

  .icon-logo {
    input {
      display: none;
    }
    .icon-img {
      width: auto;
      height: 82px;
      overflow: hidden;

      .icon-icon {
        object-fit: contain;
        height: inherit;
        cursor: default;
      }
    }
  }

  table {
    width: 100%;
    margin: 3em 0;

    td {
      height: 50px;
    }

    .flex {
      gap: 5px;
    }
  }

  .description {
    margin-bottom: 30px;
  }
  .item-input {
    margin-bottom: 20px;
    width: 50%;

    .input-txt {
      width: 100%;
    }

    .sub {
      margin-left: 1.6em;
      margin-top: 20px;
    }

    .flex {
      gap: 10px;

      img {
        cursor: pointer;
      }
    }

    .flex-icon {
      margin-bottom: 5px;
    }
  }
  .item-input.input-checkbox,
  .input-checkbox {
    display: flex;
  }

  .item-input.input-checkbox {
    gap: 20px;
  }

  .checkbox-txt {
    margin-top: -4px;
    margin-left: 5px;
  }

  textarea {
    width: 100%;
  }

  .input-manuals {
    width: 100%;
    input {
      width: 100%;
      margin-right: 20px;
    }
  }

  .input-file {
    display: none;
  }
  .input-icon {
    cursor: pointer;
  }
  .danger-zone {
    margin-bottom: 20px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
