.modal-message {
  .modal-content {
    min-height: 250px;

    .text {
      display: flex;
      flex-direction: column;
      gap: 10px;

      height: 180px;

      div {
        text-align: center;
        width: 100%;
      }
    }
    .text.is-justify {
      justify-content: space-evenly;
    }
    .text.is-center {
      justify-content: center;
    }
  }

  .button-reactive {
    .reactive-btn .progress {
      background-color: #551af7;
    }

    .reactive-btn.button.primary {
      background-color: #6f3bff;
      box-shadow: none;
    }
  }

  .text-purple {
    font-weight: 600;
    cursor: default;
    text-align: center;
    font-size: 18px;
  }

  &-buttons {
    position: absolute;
    bottom: 10px;
    width: 90%;
    justify-content: space-between;
  }

  &-buttons.is-justify {
    justify-content: space-between;
  }
  &-buttons.is-center {
    justify-content: center;
  }

  ul {
    text-align: left;
    margin-top: 20px;
    list-style: none;
    li {
      margin-bottom: 5px;
    }
  }
}
