.all-project-details {
  .table-data {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    th {
      text-align: left;
    }

    td {
      text-align: right;
      padding: 20px 10px;
    }

    tr {
      border-bottom: 1px solid #70707042;
    }

    tr:last-child {
      border-bottom: none;
    }

    .title {
      font-weight: bold;
    }
  }

  .brand-select {
    cursor: pointer;
    color: #0000EE;
  }
  .table-row {
    display: flex;
    gap: 115px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 30px;

    th {
      text-align: left;
    }

    td {
      text-align: left;
    }

    tr {
      border-bottom: 1px solid #70707042;
    }

    tr:last-child {
      border-bottom: none;
    }

    th,
    td {
      padding: 20px 10px;
    }

    .title {
      font-weight: bold;
    }
  }

  .table-column {
    flex: 50%;
  }

  .resume {
    margin-bottom: 10px;

    div {
      flex: 1;
    }
  }

  .section-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
  }

  table {
    border-collapse: collapse;
  }

  .reference, .post-data {
    padding-top: 10px;
    flex-direction: row;
    gap: 30px;

    span {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    a {
      height: 34px;
    }

    p {
      padding-top: 5px;
      margin-left: 5px;
    }
  }
}