@import "src/globals";

.services {
    .title-content {
        justify-content: space-between;
        margin: 3em 0 3em 0;

        .help {
            gap: 20px;
        }
    }

    .service {
        flex-wrap: wrap;
        gap: 4em;
    }
}
