.status-projects {
  .table-data {
    margin-top: 20px;
    table {
      border-collapse: collapse;

      td {
        text-align: center;
        border-bottom: 1px solid #e7e7e8;
      }

      td:nth-child(2) {
        text-align: left;
      }

      td:first-child {
        border-bottom: none;
        width: 10px;
        position: relative;

        img {
          margin-top: 3px;
          z-index: 1;
        }
      }

      .line-td {
        background-color: #d8dbfa;
        width: 4px;
        height: 214px;
        position: absolute;
        top: 49px;
        left: 21px;
        z-index: 0;
      }
    }
  }
  .qualify-experience {
    margin-top: 50px;
    &-title {
      gap: 10px;
      margin-bottom: 20px;
    }

    .stars,
    .stars label::before {
      display: inline-block;
    }

    .stars label:hover,
    .stars label:hover ~ label {
      color: #6f3bff;
    }

    .stars input {
      display: none;
    }

    .stars {
      direction: rtl;
    }

    .stars label {
      color: #ccd0fb;
    }

    .stars label::before {
      content: "\2605";
      width: 18px;
      line-height: 18px;
      text-align: center;
      font-size: 20px;
      padding: 8px;
      cursor: pointer;
    }

    .stars input:checked ~ label {
      color: #6f3bff;
    }

    .comments {
      width: fit-content;
      &-textarea {
        border-radius: 10px;
        width: 613px;
        height: 110px;
        border: 1px solid #70707042;
        margin-top: 10px;
        margin-bottom: 20px;
        resize: none;
        padding: 10px;
        box-sizing: border-box;
      }
    }

    .section-buttons {
      justify-content: end;
    }
  }
}
