.recover-password {
    background-color: #6f3bff;
    width: 100%;
    height: 100vh;
    background-image: url(../../icons/background_transparent.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: -7em;

    .flex {
        height: 100%;
    }

    .logo-main,
    .inputs-main {
        flex: 1;
        text-align: center;
    }

    .logo {
        padding: 13px 20px;
        box-sizing: border-box;
        background-color: #ffffff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 69px;
    }

    .content {
        padding: 20px;
        box-sizing: border-box;
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        .button-blue {
            margin: 0;
        }
    }

    .inputs {
        max-width: 413px;
        height: 258px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        margin: auto;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        .recovery {
            text-align: left;
        }

        input {
            width: 100%;
            margin: 1em 0 3em 0;
            box-sizing: border-box;
        }

        .not-account {
            display: flex;
            justify-content: space-between;
        }
    }
}
